<div class="container">
  <h1 clas="text-center">TD from hero</h1>
  <div clas="container">
    <div class="row">
      <div class="col">
        <div>
          <form (ngSubmit)="submit(form)" #form="ngForm">
            <div class="form-group">
              <label for="nome">Nome</label>
                <input type="text" id="nome" class="form-control" name="nome" [ngModel]="heroForm.nome" required
                  #nome="ngModel">
                <p *ngIf="nome.invalid && nome.touched"><strong>Campo obbligatorio</strong></p>
            </div>

            <div class="form-group">
              <label for="alterEgo">Alter Ego</label>
                <input type="text" id="alterEgo" class="form-control" name="alterEgo" [ngModel]="heroForm.alterEgo" required
                  #alterEgo="ngModel">
                <p *ngIf="alterEgo.invalid && alterEgo.touched"><strong>Campo obbligatorio</strong></p>
            </div>

            <div class="form-group">
              <label for="superPotere">Super potere</label>
              <select class="form-select" id="secret" name="superPotere" [ngModel]="heroForm.superPotere" required
                #superPotere="ngModel">
                <option value="Super Forza">Super Forza</option>
                <option value="Invisibilità">Invisibilità</option>
              </select>
            </div>

            <div class="form-group">
              <label for="nemico">Nemico</label>
                <input type="text" id="nemico" class="form-control" name="nemico" [ngModel]="heroForm.nemico" required
                  #nemico="ngModel">
                <p *ngIf="nemico.invalid && nemico.touched"><strong>Campo obbligatorio</strong></p>
            </div>

            <div class="form-group">
              <label for="pianeta">Pianeta</label>
                <input type="text" id="pianeta" class="form-control" name="pianeta" [ngModel]="heroForm.pianeta" required minlength="4"
                  #pianeta="ngModel">
                <p *ngIf="pianeta.invalid && pianeta.errors?.['minlength']"><strong>Il carattere deve essere da 1 a 5</strong></p>
            </div>

            <div class="form-group">
              <label for="debolezza">debolezza</label>
                <input type="text" id="debolezza" class="form-control" name="debolezza" [ngModel]="heroForm.debolezza" required
                  #debolezza="ngModel">
                <p *ngIf="debolezza.invalid && debolezza.touched"><strong>Campo obbligatorio</strong></p>
            </div>
            <button type="submit" class="btn btn-primary mt-3" [disabled]="form.invalid">Invia</button>
          </form>
          <hr>

          <app-reactive></app-reactive>

        </div>
      </div>
    </div>
  </div>
</div>
